.container {
  display: flex;
  justify-content: space-around;
}
.box {
  height: 80vh;
  width: 20vw;
  margin: 2rem 1rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s;
  }
}
.box-1 {
  background: url(../../assets/1.PNG) no-repeat;
}
.box-2 {
  background: url(../../assets/2.PNG) no-repeat;
  cursor: default;
  &:hover {
    transform: scale(1);
  }
}
.play {
  font-size: 100px;
  cursor: pointer;
  color: #eee;
  &:hover {
    color: #fff;
    transform: scale(1.3);
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
  }
}
.box-3 {
  background: url(../../assets/3.PNG) no-repeat;
}
.box-inline {
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 7px 5px rgba(255, 255, 255, 0.3),
    0px -4px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  flex-direction: column;
  p {
    font-weight: 400;
    margin-top: 15rem;
    font-size: 18px;
    line-height: 1.7;
    padding: 1rem;
    text-align: justify;
    background: -webkit-linear-gradient(#56585e, #171344);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.paragraph {
  margin-top: 25rem;
  padding: 1rem;
  text-align: center;
  background: -webkit-linear-gradient(#9db8db, #122d4d, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.8;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  text-shadow: none;
}
.title {
  position: absolute;
  font-size: 20px;
  color: #34454f;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
