.videoTag {
  position: fixed;
}
.body {
  position: relative;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 70%,
    rgb(0, 16, 96, 0.7)
  );
  height: 100vh;
}
body {
  font-family: "Lato", sans-serif;
}
